/* ------------------------------------------------------ Basic styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 9px Verdana, Arial, Helvetica, sans-serif;
    background-image: url("../images/35.gif");
    color: #c69b3c;
}

a {
    color: #c69b3c;
}

.page {
    position: relative;
    padding-bottom: 40px;
    min-height: 100%;
}

button:hover {
    cursor: pointer;
    text-decoration: none !important;
    border: none !important;
}

/*----------------------------------------- Header */

.header {
    margin-bottom: 20px;
    border-bottom: 1px solid #6a4101;
    background-color: #200004;

    p {
        display: inline-block;
        vertical-align: 10px;
    }

    .nav-1{
        float: right;
        margin-top: 8px;

        a {
            margin-right: 15px;
        }

        .adjustment {
            display: inline-block;
            padding: 0 15px;
            border-left: 1px solid #a69b23;

            button {
                border: none;
                color: #ffffff;
                background-color: #200004;
                border-bottom: 1px dashed;
                font-size: 10px;
            }
        }
    }
}

/*----------------------------------------- Content */

.content {
    width: 725px;
    margin: 0 auto 70px auto;
    border: 7px solid #ffffff;
    background-color: #ffffff;
}

.content--header {
    height: 100px;
    border-bottom: 7px solid #ffffff;
    background: url("../images/1.gif") no-repeat center;
    background-color: #3a0201;
    position: relative;

    img {
        position: absolute;
        top: 5px;
        right: 50px;
    }
}

.content--nav {
    height: 92px;
    background-color: #3a0201;
    padding: 28px 0 0 31px;

    .links {
        text-decoration: none;
        font: 14px bold;
        margin-left: 80px;
        float: left;

        img {
            display: block;
            margin-left: 7px;
        }
    }
}

.content--article {
    padding-top: 30px;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    h2 {
        text-transform: uppercase;
        color: #cf8b1a;
        margin: 5px 0 30px 225px;
    }
    
    .enter {
        width: 122px;
        height: 32px;
        background: url("../images/15.gif")no-repeat;
        float: right;
        margin-right: 160px;
        padding: 0 0 3px 35px;
        border: none;
        text-decoration: underline;
        color: #c38b0d;
    }

    .enter::after {
        content: '';
        display: block;
        clear: both;
    }

    .module--contact {
        margin-bottom: 30px;

        h3 {
            color: #370000;
            margin: 0 0 15px 290px;
            font-size: 14px;
        }

        form {
            width: 500px;
            float: right;

            .field {
                margin-bottom: 11px;
                color: #694040;
                font-size: 10px;

                input {
                    width: 253px;
                    height: 20px;
                }

                label {
                    width: 90px;
                    display: inline-block;
                    text-align: right;
                    padding-right: 10px;
                }
            }
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .betaling {
        width: 322px;
        height: 33px;
        background-image: url("../images/14.gif");
        padding: 0 0 2px 50px;
        border: none;
        color: #c29a31;
    }

    .betaling--page1 {
        margin: 0 0 40px 185px;
    }

    .betaling--page2 {
        margin: 0 0 20px 250px;
    }
}

.page--step2 {
    h3 {
        margin-left: 37px;
        color: #370000;
        font-size: 14px;
        float: left;
    }

    h4 {
        color: #370000;
        font-size: 14px;
        text-align: center;
        margin-bottom: 13px;
    }
}

.form {
    margin: 0 0 27px 54px;
    display: inline-block;

    input {
        margin: 0 17px 0 58px;
    }

    .visa,
    .masterCard,
    .americanExpress,
    .dinersClub,
    .payPal {
        width: 240px;
        height: 35px;
        border-bottom: 1px solid #dddddd;
        font: 13px  bold ;
        color: #000000;
        padding-top: 9px;
    }

    .visa {
        background: url("../images/30.gif") 5px no-repeat;
    }

    .masterCard {
        background: url("../images/31.gif") 5px no-repeat;
    }

    .americanExpress {
        background: url("../images/32.gif") 5px no-repeat;
    }

    .dinersClub {
        background: url("../images/33.gif") 5px no-repeat;
    }

    .payPal {
        background: url("../images/34.gif") 5px no-repeat;
    }
}

.content--footer {
    background-color: #e7e8b0;
    width: 711px;
    height: 70px;
    padding: 6px;
    position: relative;

    .links {
        float: left;
        margin-left: 14px;
    }

    .links::after {
        content: '';
        display: block;
        clear: both;
    }

    .discount {
        position: absolute;
        top: -30px;
        right: 15px;
    }
}

.module-items {
    width: 410px;
    margin: 0 0 17px 0;
    border: 1px solid #b09a68;

    .page--step2 & {
        margin-left: 164px;
    }

    .page--step3 & {
        float: right;
    }

    .ribbon {
        color: #f4f1d3;
        height: 19px;
        background-color: #540000;
        padding: 5px 0 0 15px;

        p {
            display: inline-block;

            &:nth-child(2) {
                margin-left: 57px;
            }

            &:nth-child(3) {
                margin-left: 85px;
            }

            &:nth-child(4) {
                margin-left: 41px;
            }
        }
    }

    .item {
        margin: 15px 0 87px 18px;
        clear: both;
        position: relative;

        .icon {
            width: 60px;
            height: 68px;
            background-color: #cccccc;
            color: #550000;
            text-align: center;
            font-size: 10px;
            float: left;
        }

        .omschrijving {
            width: 105px;
            margin-left: 17px;
            float: left;

            p {
                &:nth-child(1) {
                    margin-bottom: 7px;
                }

                &:nth-child(2) {
                    margin-bottom: 10px;
                }
            }
        }

        .price {
            display: inline-block;
            margin-left: 62px;

            p {
                display: inline-block;

                &:nth-child(2) {
                    margin-left: 56px;
                }
            }
        }

        .delivery {
            background: url("../images/25.gif") no-repeat;
            padding-left: 25px;
            border: none;
            color: inherit;
            position: absolute;
            right: 5px;
            bottom: -60px;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}

.levering {
    margin-left: 25px;
    float: left;

    h3 {
        color: #7b0000;
        font: bold 15px;
    }

    p {
        font-size: 12px;
        color: #7b0000;
    }

    button {
        background-image: url("../images/19.gif");
        width: 185px;
        height: 30px;
        border: none;
        color: #c38b0d;
        padding-left: 25px;
        margin-top: 15px;
    }
}

.page--step3 h4 {
    color: #370000;
    font-size: 14px;
    text-align: center;
}

.end-registration {
    margin-bottom: 20px;

    p {
        text-align: center;
        color: #370000;
        font-size: 12px;
        font-weight: bold;

        &:nth-child(1) {
            font-size: 14px;
            margin-bottom: 27px;
        }

        &:nth-child(2) {
            font-size: 15px;
            margin-bottom: 35px;
        }

        &:nth-child(4) {
            margin-bottom: 23px;
        }
    }

    a {
        color: #370000;

        &:hover {
            text-decoration: none;
        }
    }

    button {
        height: 34px;
        margin-top: 20px;
        border: none;
        padding: 0 0 3px 25px;
        color: #c29a31;

        &:hover {
            text-decoration: underline !important;
        }
    }

    .shopping {
        margin: 0 8px 0 178px;
        width: 201px;
        background: url("../images/18.gif");
    }

    .print {
        width: 185px;
        background: url("../images/19.gif");
    }
}

/*----------------------------------------- Footer */

.footer {
    height: 30px;
    background-color: #200004;
    border-top: 1px solid #6a4101;
    padding: 8px 20px 0 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 26px;

    .nav-2 {
        float: right;

        a {
            border-left: 1px solid #965909;
            margin-left: 10px;
            padding-left: 10px;
        }
    }
}

.wishlist {
    background-color: #2d0202;
    border-top: 1px solid #c69b3c;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;

    h4 {
        font-size: 14px;
        display: inline-block;
        float: left;
        margin-left: 5px;
    }

    form {
        display: inline-block;

        .login,
        .password,
        button {
            display: inline-block;
            margin-left: 18px;
        }

        button {
            background-color: #2d0202;
            text-decoration: underline;
            color: #c48a09;
            border: none;
        }
    }

    .open {
        float: right;
        background: url("../images/23.gif") 64px 0 no-repeat;

        &::after {
            content: '';
            display: block;
            clear: both;
        }

        button {
            margin-right: 35px;
            background-color: #2d0202;
            text-decoration: underline;
            color: #c48a09;
            border: none;
        }
    }

    .opening {
        width: 100%;
        height: 130px;
        border-top: 1px solid #ece0af;
        border-bottom: 1px solid #ece0af;
        background-color: #ffffff;
        display: none;
    }
}

.page--step2 {
    .footer {
        margin-bottom: 37px;
    }
}


